# Managed by ansible (roles/vault). The AppRole below can read
# sys/storage/raft/snapshot and nothing else. Delete this file and re-run
# the role with -e vault_configure=true to issue a new secret_id.
VAULT_ADDR={{ vault_api_url }}
VAULT_CACERT={{ vault_tls_dir }}/ca.crt
VAULT_ROLE_ID={{ vault_snapshot_role_id }}
VAULT_SECRET_ID={{ vault_snapshot_secret_id }}
VAULT_SNAPSHOT_DIR={{ vault_snapshot_dir }}
VAULT_SNAPSHOT_KEEP={{ vault_snapshot_keep }}
