# Managed by Ansible. Read by systemd as root; mode 0600.
GLANCE_PIHOLE_PASSWORD={{ pihole_app_password }}
GLANCE_PROXMOX_TOKEN={{ glance_proxmox_token_id }}={{ glance_proxmox_token_secret }}
GLANCE_GATUS_USER={{ gatus_basic_user }}
GLANCE_GATUS_PASSWORD={{ gatus_basic_password }}
